#candidate-form {
    border: 2px solid gray;
    padding: 20px;
}

#description {
    resize: none;
}

#result {
    display: none;    
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid gray;
    background-color: darkgray;
}

#wrap {
    width: fit-content;
}