body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header {
    font-style: italic;
    font-weight: 700;
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 15px 0px 25px 0px;
}

.buttons {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 15px;
}

button {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background-color: #3e3f3f;
}

button:focus {
    outline: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 200px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 15px;
}

.container > div {
    align-self: center;
}

.status {
    font-style: italic;
    padding-bottom: 10px;
}

.image {
    width: 400px;
    max-height: 500px;
}

.hidden {
    display: none;
}