<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <meta name="description" content="t07. Go web">
    </head>
    <body>
        <h1>Go web</h1>
        <p>
            "Hi...uhhh...is anyone home? This is Scott Lang.
            We met a few years ago... at the airport...in Germany...I got really big."
        </p>
        <div>
            <a href="/normal">Normal</a>
            <a href="/quantum">Quantum</a>
        </div>
    </body>
</html>