<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Normal</title>
        <meta name="description" content="t07. Go web">
    </head>
    <body>
        <h1>Normal time</h1>
        <h2>In normal space since 01.01.1939 passed</h2>
        <div>
            <%=years %> years <%=months %> months <%=days %> days
        </div>
    </body>
</html>