h1 {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.comics {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

@media screen and (max-width: 640px) {
    .comics div:nth-child(1) {
        grid-column: 1 / span 40;
    }
    .comics div:nth-child(2) {
        grid-column: 1 / span 45;
    }
    .comics div:nth-child(3) {
        grid-column: 1 / span 39;
    }
    .comics div:nth-child(4) {
        grid-column: 1 / span 35;
    }
    .comics div:nth-child(5) {
        grid-column: 1 / span 30;
    }
    .comics div:nth-child(6) {
        grid-column: 36 / span 15;
        grid-row: 4 / 6;
    }
    .comics div:nth-child(7) {
        grid-column: 1 / span 32;
    }
    .comics div:nth-child(8) {
        grid-column: 33 / span 12;
    }
    .comics div:nth-child(9) {
        grid-column: 1 / span 37;
    }
}

@media screen and (min-width: 640px) and (max-width: 1366px) {
    .comics div:nth-child(1) {
        grid-column: 1 / span 35;
    }
    .comics div:nth-child(2) {
        grid-column: 1 / span 45;
    }
    .comics div:nth-child(3) {
        grid-column: 1 / span 33;
    }
    .comics div:nth-child(4) {
        grid-column: 1 / span 27;
    }
    .comics div:nth-child(5) {
        grid-column: 28 / span 23;
    }
    .comics div:nth-child(6) {
        grid-column: 1 / span 18;
    }
    .comics div:nth-child(7) {
        grid-column: 19 / span 24;
    }
    .comics div:nth-child(8) {
        grid-column: 1 / span 13;
    }
    .comics div:nth-child(9) {
        grid-column: 14 / span 28;
    }
}

@media screen and (min-width: 1366px) {
    .comics div:nth-child(1) {
        grid-column: 1 / span 23;
    }
    .comics div:nth-child(2) {
        grid-column: 24 / span 27;
    }
    .comics div:nth-child(3) {
        grid-column: 1 / span 20;
    }
    .comics div:nth-child(4) {
        grid-column: 22 / span 15;
    }
    .comics div:nth-child(5) {
        grid-column: 37 / span 14;
    }
    .comics div:nth-child(6) {
        grid-column: 1 / span 10;
    }
    .comics div:nth-child(7) {
        grid-column: 11 / span 14;
    }
    .comics div:nth-child(8) {
        grid-column: 28 / span 7;
    }
    .comics div:nth-child(9) {
        grid-column: 35 / span 16;
    }
}